# Virtualenvs
.venv/
venv/

# Python caches
__pycache__/
*.py[cod]
*.pyo
*.pyd

# OS files
.DS_Store
Thumbs.db

# Env files
.env

# Artifacts
*.xlsx
*.txt
!requirements.txt
scrap_output.*
misteryinternet.*
guatemala_post.*
blogger_api.*
!src/scrap/sites/blogger_api.py

# IDE
.idea/
.vscode/
.vercel/
